<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?eclipse version="3.4"?><plugin>
  <extension point="org.gemoc.gemoc_language_workbench.sequential.xdsml">
    <XDSML_Definition modelLoader_class="org.gemoc.executionframework.extensions.sirius.modelloader.DefaultModelLoader" name="ecnu.models.shml.SHML" xdsmlFilePath="/ecnu.models.shml/src/ecnu/models/shml/SHML.melange"/>
  </extension>
  
<extension point="fr.inria.diverse.melange.modeltype">
    <modeltype id="ecnu.models.shml.SHMLMT" uri="http://ecnu.models.shml.shmlmt/"/>
  </extension>
  <extension point="fr.inria.diverse.melange.language">
    <language aspects="" entryPoints="" exactType="ecnu.models.shml.SHMLMT" id="ecnu.models.shml.SHML" uri="http://www.example.org/shml"/>
  </extension>
</plugin>
