<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated shml -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="shml.presentation.ShmlModelWizardID"
            name="%_UI_ShmlModelWizard_label"
            class="shml.presentation.ShmlModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ShmlModelFile.gif">
         <description>%_UI_ShmlModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated shml -->
      <editor
            id="shml.presentation.ShmlEditorID"
            name="%_UI_ShmlEditor_label"
            icon="icons/full/obj16/ShmlModelFile.gif"
            extensions="shml"
            class="shml.presentation.ShmlEditor"
            contributorClass="shml.presentation.ShmlActionBarContributor">
      </editor>
   </extension>

</plugin>
